* {
	font-family: 'Nunito', sans-serif;
}

body {
	color: #333;
	background-color: #fafafa;
}

/* Nav bar */

.navbar a {
	color: #333;
}

.nav-item {
	width: 150px;
	text-align: center;
	text-decoration: none;
}

.nav-item:hover, .nav-item:focus {
	display: block;
	font-size: 15px;
	background-color: #444;
	text-decoration: none;
	border-radius: 5px;
}

.nav-link:hover, .nav-link:focus {
	color: #f3f3f3;
}

/* Main content */

p, h3 {
	text-align: center;
	margin-bottom: 5px;
}

#main-content h2, #main-content h1, #main-content h3 {
	font-weight: bold;
}

#main-content p {
	color: #656565;
}

.img-fluid {
	padding: 10px 0px 0px;
	border-radius: 25px;
	width: 60%;
	height: 200px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	object-fit: cover;
}

#main-content h2 {
	padding: 10px 0px;
}

.table td {
	border-top-width: 0px;
	text-align: center;
	padding: 0.2%;
}

.table.col-lg-6 {
	width: 100%;
}

td .col-lg-6, .col-md-6, .col-sm-6 {
	padding: 2%;
}

#school-info p {
	font-size: 75%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #f3f3f3;
  }

/* Compare other courses button */

.btn-primary {
    color: #f3f3f3;
    background-color: #1A1A1A;
    border: none;
    margin: 40px auto 70px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #f3f3f3;
	background-color: #666 !important;
	border-color: #4d4d4d;
	box-shadow: none !important;
	border: none;
}

.fa-angle-left {
	padding-right: 10px;
}

/* Footer */
footer p {
	text-align: center;
	background-color: #f3f3f3;
	margin: 0px;
	padding: 1% 0px;
}
