.container {
  width: 1024px;
  padding: 2em;
}

.bold-blue {
  font-weight: bold;
  color: #0277bd;
}

.smallwords {
  font-size: 10px;
}

.center {
  text-align: center;
}

.navbar a {
  color: #333;
}

.nav-item {
	width: 150px;
	text-align: center;
}

.nav-item:hover, .nav-item:focus {
	display: block;
	font-size: 15px;
	background-color: #444;
	text-decoration: none;
	border-radius:  5px;
}

.nav-link:hover, .nav-link:focus{
	color: #f3f3f3;
}

.alert-info {
  color: #313131;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}

.btn-primary {
  background-color: #808080;
  border-color: #808080;
}

.btn-primary:hover {
  background-color: #808080;
  border-color: #808080;
}

/*.btn-primary.focus, .btn-primary:focus {
  background-color: crimson;
}*/

.btn-primary.dropdown-toggle:focus {
  background-color: #808080;
  border-color: #808080;
}

.btn-secondary {
  color: #313131;
  background-color: #eeeeee;
  border-color: #eeeeee;
}

.table {
  margin: auto;
  width: 75% !important;
}
