* {
	font-family: 'Nunito', sans-serif;
}

body {
	color: #333;
	background-color: #fafafa;
}

/* Nav bar */

.navbar a {
	color: #333;
}

.nav-item {
	width: 150px;
	text-align: center;
	text-decoration: none;
}

.nav-item:hover, .nav-item:focus {
	display: block;
	font-size: 15px;
	background-color: #444;
	text-decoration: none;
	border-radius: 5px;
}

.nav-link:hover, .nav-link:focus {
	color: #f3f3f3;
}

/* Content */

.welcome-section{
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 100%;  
    background: radial-gradient(rgba(242, 242, 242, 0.01), rgba(243, 243, 243, 0.7)), url('https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?cs=srgb&dl=pexels-pixabay-267885.jpg&fm=jpg');
    background-size: 100% 100%;
}
#text{
	color: whitesmoke;
	font-size: larger;
	font-weight: bolder;
}

.container h1{
    padding-top: 230px;
}

.fa-angle-right {
	padding-left: 10px;
}

.btn-primary {
    color: #f3f3f3;
    background-color: #1a1a1a;
    border: none;
    margin: 40px auto 70px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #f3f3f3;
	background-color: #666 !important;
	border-color: #4d4d4d;
	box-shadow: none !important;
	border: none;
}

.projects-section-header {
    padding-top: 50px;
}

.team-member-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

}

.team-member {
    border-radius: 2px;
    border-color: black;
}

.member-name {
    padding-top: 5%;
}

.code{
    /* color: #45567d; */
    transition: color 0.3s ease-out;
}

footer p {
	text-align: center;
	background-color: #f3f3f3;
	margin: 0px;
	padding: 1% 0px;
}