* {
    font-family: 'Nunito', sans-serif;
}

body {
    color: #333;
    background-color: #fafafa;
}

/* Nav bar */

.navbar a {
    color: #333;
}

.nav-item {
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.nav-item:hover, .nav-item:focus {
    display: block;
    font-size: 15px;
    background-color: #444;
    text-decoration: none;
    border-radius: 5px;
}

.nav-link:hover, .nav-link:focus {
    color: #f3f3f3;
}

footer {
    padding-top: 10%;
    padding-bottom: 0%;
}


.button {
    background-color: black;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    color: white;
    text-decoration: none;
}

/* Footer text */

footer p {
    text-align: center;
    background-color: #f3f3f3;
    margin: 0px;
    padding: 1% 0px;
}
